.bg-top-nav {
  background-color: #a6a9ad96;
  color: #346494 !important;
  font-size: 14px;
  font-weight: 500;
}
.custom-top-nav .border-right {
  border-color: #85838d !important;
}
.custom-top-nav a {
  padding: 4px;
  font-size: 12px;
}
.custom-btn-font-size {
  font-size: 14px !important;
}
.custom-top-nav a {
  font-family: "Consolas";
}
.shopping-cart-fs {
  font-size: 12px;
}

/* .bg-shopping-cart {
  background: var(--bs-gray) !important;
} */

@media (max-width: 576px) {
  .dropdown-toggle::after {
    vertical-align: 0.09em;
    display: none;
  }

  .lego img {
    min-width: 70% !important;
  }
  a.lego {
    font-size: 10px !important;
  }
}
@media (min-width: 576px) {
  .dropdown-image-bla {
    background: #e7d7d7 url(../assets/img/imageedit_1_3759065248.png) no-repeat
      top right;
    background-size: contain;
  }
  /* .s-n {
    flex: 0 0 auto;
    width: 100%;
    font-size: 12px !important;
  } */
}
a.lego {
  color: #504545d9 !important;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.costum-navbar-toggler {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border: 1px solid rgb(255, 255, 255) !important;
  position: relative;
  top: -31px;
  left: -17px;
}
.nav-f-style a {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
}
/* a[i^="fa-shopping-cart"] {
  background-color: rgb(61, 40, 40);
} */
.nav-shop-cart div.dropdown a {
  padding: 5px 7px !important;
}
.bi-cart3::before {
  vertical-align: baseline;
  padding-top: 5px;
}
.custom-.bi-cart3 {
  padding: 5px, 7px !important;
}
.f-sub-m {
  font-size: 12px;
  border: none;
}
.sub-menu {
  transition: 0.5s linear;
}
.sub-menu:hover {
  background: #9b9b9bc7 !important;
  border-radius: 10px;
}
.sub-menu:hover ul li a {
  color: white !important;
}
.sub-menu ul li a:active {
  color: rgb(67, 111, 255) !important;
}
.costum-navbar-nav-menu .nav-item {
  position: unset;
  font-family: initial;
  font-size: 13px;
  font-weight: 800;
}
.costum-navbar-nav-menu + a {
  font-family: fantasy;
}
.dropdown-image img {
  object-fit: contain;
}
.dropdown-image ul li {
  margin: 0 7px;
}
.dropdown-image li a {
  text-transform: capitalize;
  padding: 7px;
  color: rgba(0, 0, 0, 0.664) !important;
  transition: 0.5s ease;
}
.dropdown-image li a:hover {
  color: rgb(130, 96, 221) !important;
  margin-left: 7px;
  font-variant: small-caps;
}
