.costum-card:hover {
  box-shadow: inset 0px 0px 6px 1px #dcdcdc;
}
/* .owl-carousel .owl-nav.disabled{
  display: flex;
} */
.owl-theme .owl-nav .owl-prev span {
  position: absolute;
  top: 40%;
  left: -1.3%;
  font-size: 35px;
  outline: 0 !important;
  border-radius: 5%;
  width: 1.3%;
  line-height: 1.3;
  font-weight: bold;
}
.owl-theme .owl-nav .owl-next span {
  position: absolute;
  top: 40%;
  right: -1.3%;
  font-size: 35px;
  border-radius: 5%;
  width: 1.3%;
  line-height: 1.3;
  font-weight: bold;
}
.owl-carousel .owl-nav .owl-prev:hover span {
  background: #d3d3d3bf;
  box-shadow: 1px 0px 2px 2px #dedede;
  border-radius: 2rem;
}
.owl-carousel .owl-nav .owl-next:hover span {
  background: #d3d3d3bf;
  box-shadow: -1px 0px 2px 2px #dedede;
  border-radius: 1rem;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
@media (max-width: 768px) {
  .owl-theme .owl-nav .owl-next span,
  .owl-theme .owl-nav .owl-prev span {
    padding: 0 3% 1% 1% !important;
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .owl-theme .owl-nav .owl-next span,
  .owl-theme .owl-nav .owl-prev span {
    padding: 0 2% 1% 1% !important;
    font-size: 50px;
  }
}
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}